<%= form_for @post do |f| %>
	<div class="field">
		<%= f.text_area :content, placeholder: "Share your bad luck...", rows: 4, cols: 35 %>
	</div>
	<div class="submit">
		<%= f.submit "Post" %>
	</div>
<% end %>